@implements IDisposable
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<div class="page">
    <AuthorizeView>
        <Authorized>
            <NavBar />
            <Drawer DrawerHeader="drawerHeader" DrawerFooter="drawerFooter">
                <DrawerBody>
                    <div class="w-100">
                        <NavMenu></NavMenu>
                    </div>
                </DrawerBody>
                <DrawerTarget>
                    <div class="nav-buttons-container">
                        <NavLink href="@UrlGenerator.GetUrl(new Uri(NavigationManager.Uri).LocalPath, !ToggledSidebar)">
                            <DxButton RenderStyle="@ButtonRenderStyle.Dark" RenderStyleMode="@ButtonRenderStyleMode.Text" CssClass="menu-button" IconCssClass="icon icon-menu"></DxButton>
                        </NavLink>
                        @if (new Uri(NavigationManager.Uri).LocalPath != "/")
                        {
                            <NavLink href="@UrlGenerator.GetUrl("/", ToggledSidebar)" class="button-link hidden">
                                <DxButton RenderStyle="@ButtonRenderStyle.Dark" Text="Back to Home" RenderStyleMode="@ButtonRenderStyleMode.Text" CssClass="menu-button-nav" IconCssClass="icon icon-back"></DxButton>
                            </NavLink>
                        }
                        <form action="@UrlGenerator.GetUrl("Account/Logout", ToggledSidebar)" method="post" class="display-desktop menubutton-float-end">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <DxButton RenderStyle="@ButtonRenderStyle.Dark" SubmitFormOnClick="true" Text="Log out" RenderStyleMode="@ButtonRenderStyleMode.Text" CssClass="menu-button-nav" IconCssClass="icon icon-log-out"></DxButton>
                        </form>
                    </div>
                    <div class="p-4">
                        <ThemeSwitcher />
                        @Body
                    </div>
                </DrawerTarget>
            </Drawer>
        </Authorized>
        <NotAuthorized>
            <NavBar />
            <div class="nav-buttons-container">
                <NavLink href="@UrlGenerator.GetUrl("Account/Login", ToggledSidebar)" class="button-link">
                    <DxButton RenderStyle="@ButtonRenderStyle.Dark" Text="Log in" RenderStyleMode="@ButtonRenderStyleMode.Text" CssClass="menu-button-nav" IconCssClass="icon icon-log-in"></DxButton>
                </NavLink>
                <NavLink href="@UrlGenerator.GetUrl("Account/Register", ToggledSidebar)" class="button-link">
                    <DxButton RenderStyle="@ButtonRenderStyle.Dark" Text="Register" RenderStyleMode="@ButtonRenderStyleMode.Text" CssClass="menu-button-nav" IconCssClass="icon icon-user"></DxButton>
                </NavLink>
            </div>
            <div class="p-4">
                <ThemeSwitcher />
                @Body
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    [SupplyParameterFromQuery(Name = UrlGenerator.ToggleSidebarName)]
    public bool ToggledSidebar { get; set; }

    private RenderFragment drawerHeader => @<div class="navigation-drawer-header">
        <img class="logo" src="images/logo.svg" alt="DevExpress logo" />
        <NavLink href="@UrlGenerator.GetUrl(new Uri(NavigationManager.Uri).LocalPath, !ToggledSidebar)">
            <DxButton RenderStyle="@ButtonRenderStyle.Light" RenderStyleMode="@ButtonRenderStyleMode.Text" CssClass="menu-button-nav" IconCssClass="@(ToggledSidebar ? "icon icon-close" : "icon icon-menu")"></DxButton>
        </NavLink>
    </div>;

    private RenderFragment drawerFooter => @<div>

    </div>;

    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}